<head>TEST</head>
<body>
  <!--
  <iframe src="http://47.91.228.115:3000/dashboard-solo/db/bitmonitor?refresh=5s&orgId=1&panelId=1&from=1520324022116&to=1520325822116" width="450" height="200" frameborder="0"></iframe>
  -->
  <input type="text" id="clock" />
  <script type="text/javascript">
  var int=self.setInterval("clock()",1000);
  function clock()
  {
  var d=new Date();
  var t=d.toLocaleTimeString();
  document.getElementById("clock").value=t;
  }
  </script>

  <button onclick="int=window.clearInterval(int)">停止</button>

  <button>刷新</button>
  <div style="overflow: hidden;" >
                         <ul id='soft_affected' class="todo-list sortable">
                        </ul>
    </div>
</body>
