{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <script>
            $(document).ready(function(){
                $.ajaxSetup({
                     data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
            $('#formadd').submit(function(){
                    $.ajax({
                        type:"POST",
                        data: {},
                        url: "{% url 'interface_test' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                        cache: false,
                        dataType: "html",
                        success: function(result, statues, xml){
                            var newcomment = "<li class=\"contents\">" +
                                      "<div class=\"result\">"+result+"</div>"+
                                  "</li>"

                            $(".con").append(newcomment);

                            alert(result);                                         //成功时弹出view传回来的结果
                        },
                        error: function(){
                            alert("false");
                        }
                    });
                    return false;
                });

            });
    </script>
    <div class="jumbotron">
        <h1>Mainpage</h1>
        <p>Welcome to your dashboard.</p>
        <form method="post" id="formadd">
        {% csrf_token %}
        <button type="submit" id="submit" >提交</button>
        </form>
    </div>
    <div id = "comm">
        <ul class = 'con' >测试结果</ul> </div>

    <p>chart</p>
<table border="1">
  <tr>
    <th>hl</th>
    <th>lr</th>
  </tr>
  <tr>
    <td>123</td>
    <td>0.1</td>
  </tr>
</table>
    <form>
    <input width="40"/>
    <button type="submit" id="trade" >提交</button>
    </form>
{% endblock %}