{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <script>
            $(document).ready(function(){
                $.ajaxSetup({
                     data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
            $('#formadd').submit(function(){
                    $.ajax({
                        type:"POST",
                        data: {},
                        url: "{% url 'interface_test' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                        cache: false,
                        dataType: "html",
                        success: function(result, statues, xml){
                            var newcomment = "<li class=\"contents\">" +
                                      "<div class=\"result\">"+result+"</div>"+
                                  "</li>"

                            $(".con").append(newcomment);

                            alert(result);                                         //成功时弹出view传回来的结果
                        },
                        error: function(){
                            alert("false");
                        }
                    });
                    return false;
                });

            });


        $(function () {
        $('#connect_websocket').click(function () {
            if (window.s) {
                window.s.close()
            }
            /*创建socket连接*/
            var socket = new WebSocket("ws://" + window.location.host + "/echo/");
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
            };
            socket.onmessage = function (e) {
                console.log('message: ' + e.data);//打印出服务端返回过来的数据
                //$('#messagecontainer').prepend('<p>' + e.data + '</p>');
            };
            // Call onopen directly if socket is already open
            if (socket.readyState == WebSocket.OPEN) socket.onopen();
            window.s = socket;
        });
        $('#send_message').click(function () {
            //如果未连接到websocket
            if (!window.s) {
                alert("websocket未连接.");
            } else {
                window.s.send($('#message').val());//通过websocket发送数据
            }
        });
        $('#close_websocket').click(function () {
            if (window.s) {
                window.s.close();//关闭websocket
                console.log('websocket已关闭');
            }
        });

    });

    </script>
    <div class="jumbotron">
        <h1>Mainpage</h1>
        <p>Welcome to your dashboard.</p>
        <form method="post" id="formadd">
        {% csrf_token %}
        <button type="submit" id="submit" >提交</button>
        </form>
    <button type="button" id="connect_websocket">open websocket</button>
        <button type="button" id="close_websocket">close websocket</button>
        <button type="button" id="send_message">test websocket</button>
    <div id="messagecontainer">

</div>
    </div>
    <div id = "comm">
        <ul class = 'con' >测试结果</ul> </div>

    <p>chart</p>

<table border="1">
  <tr>
    <th>hl</th>
    <th>lr</th>
  </tr>
  <tr>
    <td>123</td>
    <td>0.1</td>
  </tr>
</table>
    <form>
    <input id="message" width="40"/>
    <button type="submit" id="trade" >提交</button>
    </form>

    <style>
    #leftdiv {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#rightdiv {
    width:350px;
    float:left;
    padding:10px;
}
    </style>
    <div id="leftdiv">
    London<br>
    </div>


    <div id="rightdiv">
    <h2>London</h2>
    <p>
    London is the capital city of England. It is the most populous city in the United Kingdom,
    with a metropolitan area of over 13 million inhabitants.
    </p>
    </div>
{% endblock %}